section{
    border-bottom: #293950 2px solid;
    padding-top: 65px;
    padding-bottom: 65px;
}

.skills-list, .xp-list {
    display: flex;
    flex-wrap: wrap;
}

.footer {
    color: #3D5A80;
    text-align: center;
    padding: 30px 0;
    font-weight: 700;
}